* {
  box-sizing: border-box;
  margin: 0;

  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 99%;
  min-height: 600px;
  /* background: burlywood; */
  text-align: center;
  margin: 50px auto 50px;
  border-radius: 20px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  
  /* color: #fff; */
  font-size: 40px;
}

h3 {
  margin: auto;
  /* color: rgb(66, 171, 231); */
  font-size: 20px;
}

p {
  font-size: 30px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 99%;
  min-height: 600px;
  /* background: burlywood; */
  text-align: center;
  margin: 50px auto ;
  border-radius: 20px;
  padding-bottom: 32px;
}

.about img {
  width: 30%;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 99%;
  min-height: 600px;
  /* background: burlywood; */
  text-align: center;
  margin: 50px auto;
  border-radius: 20px;
  padding-bottom: 32px;
}

.email,
.message {
  margin: 15px;
  padding: 15px;
  font-size: 20px;
}

input[type="email"],
textarea {
  width: 20%; /* Adjust the width as needed */
  font-size: 16px; /* Adjust the font size as needed */
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

input[type="email"] {
  height: 40px; /* Adjust the height as needed */
}

textarea {
  height: 60px;
}

.button {
  padding: 10px;
  height: 15%;
  width: 5%;
  font-size: 15px;
  background-color: rgb(3, 87, 165);
  color: white;
}

.button:hover {
  box-shadow: 0 4px 8px rgb(54, 54, 54);
}

.repos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

.popup-box {
  visibility: hidden;
  border: solid 1px black;
  box-shadow: 0 4px 8px rgb(54, 54, 54);
  width: 300px;
  padding: 20px;
}

.image-container:hover .popup-box {
  visibility: visible;
}


.image-container img {
  width: 1000px;
  height: 600px;
  border: solid 1px black;
  margin-top: 10px;
}

.image-container img:hover {
  width: 1050px;
  height: 650px;
  box-shadow: 0 4px 8px rgb(54, 54, 54);
}

@media only screen and (max-width: 1000px) {
  .image-container img {
    width: 600px; /* Make the image responsive to the screen width */
    height: 450px; /* Maintain aspect ratio */
    border: solid 1px black;
  }

  .image-container img:hover {
    /* Adjust hover styles for smaller screens if needed */
    width: 650px;
    height: 500px;
    box-shadow: 0 4px 8px rgb(54, 54, 54);
  }
}

@media only screen and (max-width: 768px) {
  .image-container img {
    width: 300px; /* Make the image responsive to the screen width */
    height: 150px; /* Maintain aspect ratio */
    border: solid 1px black;
  }

  .image-container img:hover {
    /* Adjust hover styles for smaller screens if needed */
    width: 350px;
    height: 200px;
    box-shadow: 0 4px 8px rgb(54, 54, 54);
  }
}